.NavBar-logo {
  height: 8vh;
}

.Calendar-container {
  text-align: center;
}

.Filter-container {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.User-container {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.Table-container {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.Button-container {
  margin-bottom: 1vh;
  margin-left: 0.1vw;
  margin-right: 0.1vw;
}

.Location-container {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.Body-container {
  margin-top: 3vh;
}

.nav-tabs .nav-link {
  background-color: white !important;
  color: black !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 2px white !important;
}
